/* colors i like
#011627 dark navy/black
#FFBF69 peach
#99E1D9 turqoise
#F71735 RED
#D7D6D6 gray for background
 */



.section {
    display: block;
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    color: #99ED;
}
.section:last-child {
    border-right: none;
    margin-right: 0;
}

@media (max-width: 760px){
    .section{
        width: 100%;
    }
}



nav ul li {
    display: inline-block;
    margin-right: 10px; 
}
nav ul li:not(:last-child)::after {
    content: '•';
    margin-left: 10px;
    color: #999; /* Adjust color as needed */
}


nav ul li::after {
    content: '•';
    margin-left: 10px;
    color: #999; 
}

.section:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.section h2 {
    margin-bottom: 10px;
    color: #E3D985;
}

.section p {
    margin-bottom: 20px;
    color:#422040;
}

.section::after {
    content: '•';
    margin-left: 10px;
    color: #999; 
}

body {

    background-color: #D7D6D6;
}

h1{
    color: #011627;
    text-align: center;

}
header{
    text-align: center;


}

h2{
    color: #99E1D9;
    

}
nav ul{
    list-style-type: none;
}

nav a {
    color: #011627; /* Set link color to black */
    text-decoration: none; /* Remove underlines */
}
nav a:hover {
    color:#F71735 ;
}

h1, h2 {
    font-family: Georgia, serif;
}


body:not(h1):not(h2) {
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
}



