/* colors i like
#011627 dark navy/black
#FFBF69 peach
#99E1D9 turqoise
#F71735 RED
#D7D6D6 gray for background
 */

.section-container{
    display: flex;
}

.section {
    display: inline-block;
    flex: 1;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}
.section:last-child {
    border-right: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px; 
}


nav ul li::after {
    content: '•';
    margin-left: 10px;
    color: #999; 
}

.section:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.section h2 {
    margin-bottom: 10px;
    color: #FFBF69;
}

.section p {
    margin-bottom: 20px;
}

.section::after {
    content: '•';
    margin-left: 10px;
    color: #999; 
}

body {
    background-color: #D7D6D6;
}

h1{
    color: #011627;
    text-align: center;
}
header{
    text-align: center;

}

h2{
    color: #FFBF69; 

}
nav ul{
    list-style-type: none;
}
