body{
    background-color:lavender;
    text-align: center;
    color: dimgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a{
    color:darkorchid;
    text-decoration: dashed;
}
a:hover {
    color: lightpink;

}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;

}
#salep{
    width: 60%; /* 1/6 of the page */
    display: block;
    margin: 0 auto; /* Centers the image */
    border-radius: 3px; /* Slightly rounded corners */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Slight shadow */
}
