body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f4f4f4;
  color: rgb(97, 96, 96);
}
header, footer {
  background-color: rgb(147, 229, 147);
  color: white;
  padding: 10px 20px;
  text-align: center;
}
nav {
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: white;
  padding: 0 15px;
  text-decoration: none;
}
section a {
  color: #00a3cc; /* Change link color */
  text-decoration: none; 
  font-weight: bold; 
}

/* CSS for link hover effect within section elements */
section a:hover {
  color: #004080; /* Change color on hover */
}

.about-projects img {
  width: 60%; 
  height: auto;
  margin: auto;
  border-radius: 3px; 
  align-items: center;
  display: inline-block;
}

.products-products img{
  width: 60%; 
  height: auto;
  margin: auto;
  border-radius: 3px; 
  align-items: center;
  display: inline-block;

}
#confirmationBanner {
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
#confirmationBanner img {
  margin-right: 10px;
}

footer a {
  color: #4CAF50;
  text-decoration: none;


}
footer a:hover {
  color: #3C8D40; 
}
body {
  background-color: lightcyan;




