body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f4f4f4;
  color: rgb(97, 96, 96);
}
header, footer {
  background-color: rgb(147, 229, 147);
  color: white;
  padding: 10px 20px;
  text-align: center;
}
nav {
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: white;
  padding: 0 15px;
  text-decoration: none;
}
section a {
  color: #00a3cc; /* Change link color */
  text-decoration: none; 
  font-weight: bold; 
}

/* CSS for link hover effect within section elements */
section a:hover {
  color: #004080; /* Change color on hover */
}

.about-projects img {
  width: 60%; 
  height: auto;
  margin: auto;
  border-radius: 3px; 
  align-items: center;
  display: inline-block;
}

.products-products img{
  width: 60%; 
  height: auto;
  margin: auto;
  border-radius: 3px; 
  align-items: center;
  display: inline-block;

}
#confirmationBanner {
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
#confirmationBanner img {
  margin-right: 10px;
}

footer a {
  color: #4CAF50;
  text-decoration: none;


}
footer a:hover {
  color: #3C8D40; 
}
body {
  background-color: lightcyan;
}
/* styles.css */
.product-container, .service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product, .service {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 20px;
  width: 300px;
}

.cart-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.cart-icon span {
  background-color: lightblue;
  color: white;
  padding: 0 5px;
  border-radius: 50%;
}

.product img, .service img {
  width: 100%;       /* Ensures the image takes the full width of the container */
  height: 150px;     /* Fixed height, adjust as needed */
  object-fit: cover; /* Covers the area without distorting the aspect ratio */
  border-radius: 5px; /* Optional: Rounds the corners of the images */
}

section {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

section img {
  max-width: 80%;
  height: auto;
}

.founder img {
  max-width: 200px; /* Set the maximum width of the image */
  height: auto;
}
/* styles.css */
.founder-section {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center vertically */
}

.founder-text {
  flex: 1; /* Take up remaining space */
}

.founder-image {
  flex: 1;
  text-align: center; /* Take up remaining space */
}

.founder-image img {
  max-width: 100%; /* Ensure image fits container */
  height: auto;
}





