<a href="http://webpages.uncc.edu/dtekin1">UNC Charlotte</a> ||
<a href="http://www.github.com/derintekin/derintekin.github.io">GitHub</a> ||
<a href="http://derintekin.github.io">GitHub Pages</a> ||
<a href="http://derintekin.github.io/itis3135">Course GitHub Pages</a> ||
<a href="http://www.freecodecamp.org/derintekin">freeCodeCamp</a> ||
<a href="https://www.codecademy.com/profiles/deroli">Codecademy</a> ||
<a href="https://www.linkedin.com/in/derintekin/">LinkedIn</a>

<p>Designed by <a href="/itis3135/daintytiger.com/index.html">Dainty Tiger Enterprises</a> &copy; 2024,
    CERTIFIED IN <a href="https://www.freecodecamp.org/certification/derintekin/responsive-web-design">RWD</a>
    and <a
        href="https://www.freecodecamp.org/certification/derintekin/javascript-algorithms-and-data-structures-v8">JavaScript</a>
</p>

<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px"
        src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>