<h1>Derin Tekin's Dainty Tiger || ITIS 3135</h1>
<nav id="main-nav">
    <a href="./">Home</a> ||
    <a href="introduction.html">Introduction</a> ||
    <a href="contract.html">Contract</a> ||
    <a href="about.html">About the Dainty Tiger</a> ||
    <a href="firmhome.html">Dainty Tiger Home Page</a> ||
    <a href="tables.html">Employee Tables</a> ||
    <a href="form.html">Form</a> ||
    <a href="project/index.html">Client Project</a> ||
    <a href="firstscripts.html">First JavaScript</a> || 
    <a href="buildintro.html">Build Your Own Intro</a> ||
    <a href="calculator_try.html">Calculator</a> ||
    <a href="arrays.html">Arrays</a>


</nav>
<nav id="second-nav">
    <a href="stuff/crap.html">Crappy</a>
</nav>